@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>As the name , this serve as a To do List where your can create a task and mark is as done.</p>
<p>This is create by using .Net</p>
